.shadow {
  -webkit-box-shadow: -12px -15px 0px -1px rgba(238,240,206,0.3);
  -moz-box-shadow: -12px -15px 0px -1px rgba(238,240,206,0.3);
  box-shadow: -12px -15px 0px -1px rgba(238,240,206,0.3);
  height: 100%;
  border-radius: 2%;
}

.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing {
  width: 20ch;
  animation: typing 2s steps(20), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.cursorChange:hover {
  cursor: url('../assets//circle.svg'), pointer;
  color: rgb(221, 190, 54);
}